
body{
  height: 100%;
  background-color: #08070a;
  box-sizing: border-box;
  color: #f8f6f6;
  background-image: url('./images/pointer.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.App{
  overflow: auto;
}
nav{
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
#self-image{
  height: 150px;
  width: 150px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;

}
nav > div:first-of-type a, #mobile-menu > div:last-of-type a{
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  transition: transform 300ms ease-in;
  display: block;
  
}
nav > div:first-of-type a:hover,  #mobile-menu > div:last-of-type a:hover{
  transform: scale(1.3);
  color: #f8f6f6;
}
.highlighted{
  color: #f8f6f6!important;
  font-weight: 700;
}
.mobile-nav{
  display: none;
  cursor: pointer;
}
.icons{
  color: rgba(255, 255, 255, 0.8);
  margin-right: 10px;
  transition: transform 300ms ease-in;
  cursor: pointer;
}
.icons:hover{
  transform: scale(1.3);
  color: #f8f6f6;
}
#mobile-menu{
  padding-top: 50px;
  transform: translate(-2000px);
  transition: transform 400ms;
  position: absolute;
  background-color: #08070a;
  height: 100vh;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;
 }
 #mobile-menu>div:first-child{
  width: 85%;
}
.app-body{
  width: 75%;
  margin: 0 auto;
}
.summary{
  font-size: 20px;
}
.main-home{
  align-items: center;
  justify-content: center;
  height: 70vh;
  display: flex;
}

.rubik-dirt-regular {
  font-family: "Rubik Dirt", system-ui;
  font-weight: 400;
  font-style: normal;
}

.app-body h2{
  font-size: 36px;
  font-weight: 500;
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.head-title{
  font-size: 48px!important;
}
.projects, .services{
    margin-top: 80px;
}
.project{
  width: 93%;
  margin: auto;

}
.project a{
  color: rgba(255, 255, 255, 0.8);
  transition: transform 300ms ease-in;
}
.project a:hover{
  transform: scale(1.3);
  color: #f8f6f6;
}
.project h4{
  line-height: 35px;
}
.project-image-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
}

.project-image-container img{
  height: 450px;


}
.project-image-container div{
  margin-bottom: 40px;
  
}

.back-to-top{
  position: fixed;
  background-color:rgba(255, 255, 255, 0.8);;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  right: 50px;
  bottom: 20px;
}
.service  li{
  font-size: 22px;
  margin-bottom: 10px;
}
.service > div{
  margin-bottom:70px;
}
.service > div:first-of-type{
  flex-basis: 60%;
}
.service > div:last-of-type{
  flex-basis: 30%;
}
@media (max-width: 576px) { 
  .project-image-container img{
    height: auto;
    width: 100%;
  }
  .project-image-container{
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 5px;
  }
  
}

@media (max-width: 768px){
  .main-home{
      display: block;
      margin-top: 100px;
  }
  .app-body{
    width: 95%;
  }
  nav{
    width: 95%;
  }


  .mobile-nav{
    display: block;
  }
  .desktop-nav{
    display: none!important;
  }
  .back-to-top{
    right: 10px;
  }
  .summary{
    font-size: 18px;
  }
  .service{
    flex-direction: column;
  }
  .service > div:last-of-type{
    order: -1;
  }
 }